@import "./variables";
@import "./header";

.contact {
  @include flexCenter(row);
  @extend header;
  background: lightcoral;

    info {
      background: purple;
    }
  }

.contact button {
  background:primaryBtn;
}
